<div class="login-container">
  <img src="logo.png" alt="Logo" class="logo" />
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>

    <input
      formControlName="username"
      type="text"
      placeholder="Username"
      class="input-field"
    />
    <div class="error">
      @if (loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']) {
        <small>Username is required</small>
      }
      @if (loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['minlength']) {
        <small>Min 3 characters</small>
      }
    </div>

    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      class="input-field"
    />
    <div class="error">
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']) {
        <small>Password is required</small>
      }
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']) {
        <small>Min 8 characters</small>
      }
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['pattern']) {
        <small>Must contain a number and a special character</small>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-login">
      Sign In
    </button>

    @if (loginError) {
      <div class="login-error">
        {{ loginError }}
      </div>
    }
  </form>
</div>
