@if (images?.length) {
  <div class="carousel-wrapper">
    <div class="carousel">
      @for (image of images; track image.url; let i = $index) {
        <div class="carousel-slide" [class.active]="i === currentSlide">
          <img [src]="image.url" alt="Hotel Image" class="carousel-img" />
        </div>
      }

      <button class="prev" (click)="prevSlide()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="next" (click)="nextSlide()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
}
