<header class="header-container">
  <img src="/logo.png" alt="Logo" class="logo" [routerLink]="['/home']" (click)="hotelService.clearFilters()" />

  <div class="search-filter-container">
    <app-search-box 
      [filters]="currentFilters" 
      (click)="toggleFilters()">
    </app-search-box>
    @if (showFilters) {
      <app-filter (filtersApplied)="onFiltersApplied()"></app-filter>
    }
  </div>

  <div class="user-section">
    @if (loginService.isLoggedIn$ | async) {
      <app-user-menu></app-user-menu>
    } @else {
      <app-nav-button route="/home" label="Home" (action)="hotelService.clearFilters()"></app-nav-button>
      <app-nav-button route="/login" label="Login"></app-nav-button>
    }
  </div>
</header>