<header class="header-container">
  <img src="/logo.png" alt="Logo" class="logo" />

  <div class="search-filter-container">
    <app-search-box 
      [filters]="currentFilters" 
      (click)="toggleFilters()">
    </app-search-box>

    @if (showFilters) {
      <app-filter (filtersApplied)="onFiltersApplied()"></app-filter>
    }
  </div>

  <button mat-button color="primary"
          [routerLink]="['/home']"
          (click)="hotelService.clearFilters()"
          class="nav-button">
    Home
  </button>

  <div class="user-section" *ngIf="loginService.isLoggedIn()">
    <app-button-booking></app-button-booking>
    <span class="welcome-msg">Welcome, {{ loginService.getUsername() }}</span>
    <app-button-logout></app-button-logout>
  </div>
  
  <app-button-login *ngIf="!loginService.isLoggedIn()"></app-button-login>
</header>
